{
    "extends": "airbnb",
    "rules": 
    {
        "arrow-body-style": "off",
        "arrow-parens": "off",
        "comma-dangle": "off",
        "max-len": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}